* {
    margin: 0;
    background: rgb(236, 236, 236);
}
.nav {
	font-size: 2em;
	transition: all 0.3s;

}
.main-nav {
	display: flex;
	list-style: none;
	font-size: 0.7em;
	margin: 0;

}
li {
    padding: 20px;
    margin-right: 10px;
}

a {
	text-decoration: none;
}
.name{
    margin-top:10px;
    margin-right: auto;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}
.icon {
    size: 30px;
    color: black;
}
.icon:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
section{
    display: flex;
    height: 650px;
}
.first{
    position: relative;
    margin-left:auto;
    margin-top:15%;
    font-size: 3em;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}
.dp{
    height: 600px;
    border-radius: 2px;
    box-shadow: 12px 12px 15px -8px rgba(0,0,0,0.45);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.about{
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
    padding: 60px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.45);
    font-family: 'Source Sans', sans-serif;
    cursor: default;
    font-size: 26px;
}
.music{
    color: black;
}
.music:hover{
    transform: scale(1.02);
    transition: 0.5s;
}
.projects{
    height: 100%;
    width: 100%;
    margin-top: 60px;
    font-family: 'Source Sans', sans-serif;
}
.pro{
    display: flex;
    justify-content: center;
    font-size: 4em;
    cursor: default;
}
.pj{
    width: 428px;
    height: 540px;
    margin: 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.56);
    background-color: white;
}
.pj:hover{
    transform: scale(1.04);
    transition: 0.5s;
}

.left { 
    float:left; 
    width:425px; 
    height:540px; 
    background-color:white; 
} 
.center { 
    float:left; 
    width:425px; 
    height:540px; 
    background-color:white; 
} 
.right { 
    float:left; 
    width:425px; 
    height:540px; 
    background-color:white; 
}
.pj-name{
    display: flex;
    justify-content: center;
    background: white;
    margin-top: 20px;
    color: black;
}
.pj-text{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    background: white;
    cursor: default;
}
.pp {
    margin: 30px;
    max-width: 85%;
    height: auto;
    border-radius: 5px;
    cursor: default;
    text-decoration: none;
}
.one{
    margin-top:103px;
}
.two{
    margin-top:66px;
}
.three{
    margin-top:123px;
}
.pic-url{
    text-decoration: none;
}